        ol,
        ul {
            list-style: none;
            margin: 0px;
            padding: 0px;
        }
        
        a {
            color: #484848;
            font-weight: 700;
            text-decoration: none;
        }
        
        p {
            font-size: 13px;
        }
        
        .red {
            color: rgb(247, 44, 44);
        }
        /* .s1,
        .s2,
        .s3,
        .s4 {
            padding: 40px;
        } */
        
        .s1 {
            /* background-color: aqua; */
            /* position: relative; */
        }
        
        .banner {
            /* position: absolute;
            top: 0;
            left: 0; */
            width: 100%;
            height: 380px;
            color: #fff;
            text-align: center;
            background: linear-gradient(to bottom right, #5DA6FC, #25D6FD);
            background-size: 100% 380px;
        }
        
        .banner h2 {
            margin-top: 120px;
        }
        
        .banner img {
            width: 100%;
            height: 380px;
        }
        
        .desrc {
            /* position: absolute;
            left: 0;
            top: 450px; */
            padding: 12px 120px;
            height: auto;
            background: #fff;
        }
        
        h2,
        h3,
        h4 {
            color: #4a4a4a;
        }
        
        .desrc p {
            color: rgb(111, 111, 111);
            font-size: 14px;
        }
        
        @media screen and (min-width: 1600px) {
            .banner {
                height: 540px;
            }
            .banner img {
                width: 100%;
                height: 540px;
            }
            p {
                font-size: 16px;
            }
        }
        
        h3 {
            /* margin-top: 64px; */
            padding: 64px 0 4px;
            border-bottom: 2px solid rgb(72, 28, 28);
        }
        
        .fp-tableCell {
            display: block;
        }
        
        .s2,
        .s3,
        .s4 {
            /* position: relative; */
            padding: 0 14%;
        }
        
        .s2 .fp-tableCell {
            vertical-align: inherit;
        }
        
        .s3 .fp-tableCell {
            vertical-align: inherit;
        }
        
        .s2 {
            background-color: #F7F8FA;
            /* height: 100%; */
        }
        
        .s3 {
            background-color: rgb(255, 255, 255);
        }
        
        .s4 {
            background-color: #F7F8FA;
            /* padding: 120px 120px 40px; */
            text-align: center;
        }
        
        .s4 .fp-tableCell {
            display: table-cell;
        }
        
        .s4 a {
            font-size: 16px;
        }
        
        #menu {
            position: fixed;
            top: 0px;
            left: 0px;
            height: 40px;
            z-index: 70;
            width: 100%;
            padding: 0px;
            margin: 0px;
        }
        
        #menu li {
            display: inline-block;
            width: 140px;
            color: rgb(0, 0, 0);
            margin: 10px;
            background: rgba(255, 255, 255, 0.5);
            border-radius: 10px;
            text-align: center;
        }
        
        #menu li:hover {
            background: rgba(255, 255, 255, 0.8);
        }
        
        #menu li.active {
            color: rgb(255, 255, 255);
            background: rgba(0, 0, 0, 0.3);
        }
        
        #menu li.active a {
            color: rgb(240, 240, 240);
        }
        
        #menu li a,
        #menu li.active a {
            display: block;
            padding: 9px 18px;
        }
        
        .items .item-wrapper {
            /* display: inline-block; */
            width: 100%;
            /* height: 45%; */
            margin-bottom: 12px;
            /* background: #25D6FD; */
        }
        
        .item-wrapper ul {
            width: 100%;
            /* height: 45%; */
        }
        
        .item-wrapper ul li {
            display: inline-block;
            width: 48%;
            /* height: 45%; */
            vertical-align: top;
        }
        
        .item-wrapper ul li img {
            width: 90%;
            /* height: auto; */
            height: 240px;
            cursor: pointer;
        }
        
        .wx-item-wrapper ul {
            height: 33.33%;
        }
        
        .wx-item-wrapper ul li {
            display: inline-block;
            width: 48%;
            height: 20%;
            vertical-align: top;
        }
        
        .wx-item-wrapper ul li img {
            width: 80%;
            height: 240px;
            cursor: pointer;
        }
        
        @media screen and (min-width: 1600px) {
            .item-wrapper ul li img {
                height: auto;
            }
            .wx-item-wrapper ul li img {
                height: auto;
            }
        }